# Android
*.iml
.gradle/

local.properties
.idea/
build/
captures/
.externalNativeBuild/
.cxx/
gradle-local.properties
*.hprof

# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/

# System & Environment
.DS_Store
.env
stylemate-backend/.env
stylemate-backend/config/serviceAccount.json
stylemate-backend/uploads/
gradle.properties

.claude/